In [1]:
from helpers import read_data, get_schedules, get_weekly_hours

In [2]:
SCHEDULE = "data/schedule_builder.csv"
TEAM_DATA = "data/TeamData.csv"

In [3]:
schedule_info: list = read_data(SCHEDULE)
DAYS = schedule_info[1]
EMPLOYEE_DATA = schedule_info[3:]
homebase_schedule = get_schedules(DAYS, EMPLOYEE_DATA)
homebase_schedule

{'x': ['Monday;$0.00 /',
  'Tuesday;$0.00 /',
  'Wednesday;$0.00 /',
  'Thursday;$0.00 /',
  'Friday;$0.00 /',
  'Saturday;$0.00 / 0.00hrs',
  'Monday;29.00hrs',
  'Tuesday;47.00hrs',
  'Wednesday;54.00hrs',
  'Thursday;32.00hrs',
  'Friday;23.00hrs'],
 'OPEN SHIFTS': ['Monday;4:00pm-5:00pm',
  'Tuesday;11:00am-12:00pm',
  'Wednesday;2:00pm-3:00pm',
  'Thursday;11:00am-12:00pm',
  'Monday;4:00pm-5:00pm',
  'Tuesday;12:00pm-1:00pm',
  'Wednesday;2:00pm-3:00pm',
  'Thursday;12:00pm-1:00pm',
  'Tuesday;5:00pm-6:00pm',
  'Wednesday;2:00pm-3:00pm',
  'Thursday;1:00pm-2:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Thursday;3:00pm-4:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Wednesday;5:00pm-6:00pm'],
 'Trey D.': ['Monday;1:00pm-2:00pm', 'Wednesday;4:00pm-5:00pm'],
 '$0.00 / 4.00hrs': ['Wednesday;6:00pm-7:00pm'],
 'Sarah Z.': ['Tuesday;6:00pm-7:00pm', 'Wednesday;2:00pm-3:00pm'],
 '$0.00 / 3.00hrs': ['Wednesday;5:00pm-6:00pm', 'Wednesday;6:00pm-7:00pm'],
 'Olivia X.': ['Tuesday;6:00pm-7:00pm'],
 'Dylan N.': ['Monday;3:00pm-4:00pm',
  'Wednesday;1:00pm-2:00pm',
  'Friday;4:00pm-5:00pm'],
 'Lucas S.': ['Monday;4:00pm-5:00pm',
  'Thursday;12:00pm-1:00pm',
  'Friday;11:00am-12:00pm'],
 'Vivian D.': ['Wednesday;12:00pm-1:00pm', 'Thursday;1:00pm-2:00pm'],
 'Kene O.': ['Tuesday;1:00pm-2:00pm'],
 'Upasana L.': ['Tuesday;2:00pm-3:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Thursday;2:00pm-3:00pm'],
 'Aidan G.': ['Tuesday;4:00pm-5:00pm',
  'Wednesday;4:00pm-5:00pm',
  'Thursday;2:00pm-3:00pm'],
 '$0.00 / 8.00hrs': ['Tuesday;5:00pm-6:00pm',
  'Wednesday;5:00pm-6:00pm',
  'Thursday;4:00pm-5:00pm',
  'Wednesday;6:00pm-7:00pm'],
 'Vitor I.': ['Monday;11:00am-12:00pm', 'Tuesday;11:00am-12:00pm'],
 'Vincent L.': ['Wednesday;1:00pm-2:00pm', 'Friday;1:00pm-2:00pm'],
 'Miguel V.': ['Tuesday;4:00pm-5:00pm',
  'Wednesday;6:00pm-7:00pm',
  'Thursday;4:00pm-5:00pm'],
 'Coralee R.': ['Monday;3:00pm-4:00pm',
  'Tuesday;3:00pm-4:00pm',
  'Wednesday;4:00pm-5:00pm'],
 '$0.00 / 6.00hrs': ['Monday;12:00pm-1:00pm',
  'Wednesday;2:00pm-3:00pm',
  'Monday;1:00pm-2:00pm'],
 'Wisdom O.': ['Monday;3:00pm-4:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Friday;4:00pm-5:00pm'],
 'Navya K.': ['Tuesday;6:00pm-7:00pm',
  'Wednesday;5:00pm-6:00pm',
  'Friday;2:00pm-3:00pm'],
 'Dika M.': ['Tuesday;2:00pm-3:00pm', 'Thursday;4:00pm-5:00pm'],
 'Lauren L.': [],
 'Chiara S.': ['Monday;2:00pm-3:00pm',
  'Tuesday;12:00pm-1:00pm',
  'Thursday;12:00pm-1:00pm'],
 'Sophie J.': ['Tuesday;3:00pm-4:00pm', 'Thursday;5:00pm-6:00pm'],
 'Erin B.': ['Tuesday;1:00pm-2:00pm'],
 'Abigail K.': ['Thursday;1:00pm-2:00pm', 'Friday;1:00pm-2:00pm'],
 'Shaina P.': ['Wednesday;12:00pm-1:00pm'],
 'Anusha G.': ['Wednesday;11:00am-12:00pm', 'Friday;11:00am-12:00pm'],
 'Sarah C.': ['Wednesday;5:00pm-6:00pm'],
 'Tyler S.': ['Monday;2:00pm-3:00pm', 'Wednesday;12:00pm-1:00pm'],
 'Rosey A.': ['Tuesday;5:00pm-6:00pm', 'Wednesday;6:00pm-7:00pm'],
 'Lauren F.': ['Monday;12:00pm-1:00pm', 'Tuesday;2:00pm-3:00pm'],
 'Jayden L.': ['Monday;4:00pm-5:00pm', 'Tuesday;12:00pm-1:00pm'],
 'Lynn L.': ['Wednesday;1:00pm-2:00pm', 'Friday;1:00pm-2:00pm'],
 'Grace K.': ['Monday;12:00pm-1:00pm', 'Tuesday;11:00am-12:00pm'],
 'Bridget L.': ['Wednesday;3:00pm-4:00pm'],
 'Aryonna R.': ['Monday;11:00am-12:00pm',
  'Wednesday;1:00pm-2:00pm',
  'Friday;2:00pm-3:00pm'],
 'Adela Z.': ['Monday;2:00pm-3:00pm'],
 '$0.00 / 1.00hrs': [],
 'Mary Carolyn K.': ['Monday;11:00am-12:00pm',
  'Tuesday;4:00pm-5:00pm',
  'Wednesday;11:00am-12:00pm',
  'Friday;12:00pm-1:00pm'],
 'Haley B.': ['Thursday;2:00pm-3:00pm', 'Friday;3:00pm-4:00pm'],
 '$0.00 / 7.00hrs': ['Tuesday;5:00pm-6:00pm',
  'Thursday;4:00pm-5:00pm',
  'Monday;09/11/2023',
  'Tuesday;09/12/2023',
  'Wednesday;09/13/2023',
  'Thursday;09/14/2023',
  'Friday;09/15/2023',
  'Saturday;09/16/2023',
  'Tuesday;6:00pm-7:00pm'],
 'Emma J.': ['Monday;3:00pm-4:00pm',
  'Tuesday;4:00pm-5:00pm',
  'Wednesday;1:00pm-2:00pm',
  'Thursday;1:00pm-2:00pm'],
 'Anthony V.': ['Monday;5:00pm-6:00pm',
  'Tuesday;4:00pm-5:00pm',
  'Wednesday;4:00pm-5:00pm',
  'Thursday;3:00pm-4:00pm'],
 'Madeleine G.': ['Monday;5:00pm-6:00pm',
  'Tuesday;5:00pm-6:00pm',
  'Wednesday;6:00pm-7:00pm'],
 'Kaleb W.': ['Thursday;3:00pm-4:00pm'],
 '$0.00 / 2.00hrs': ['Thursday;4:00pm-5:00pm'],
 'Benjamin E.': ['Monday;1:00pm-2:00pm',
  'Wednesday;12:00pm-1:00pm',
  'Thursday;5:00pm-6:00pm'],
 'Vrinda D.': ['Wednesday;11:00am-12:00pm', 'Thursday;11:00am-12:00pm'],
 'Shefali P.': ['Tuesday;1:00pm-2:00pm'],
 'Chloe L.': ['Monday;2:00pm-3:00pm', 'Wednesday;5:00pm-6:00pm'],
 'Ella G.': ['Thursday;11:00am-12:00pm', 'Friday;3:00pm-4:00pm'],
 'Daisy A.': ['Wednesday;4:00pm-5:00pm'],
 'Kate B.': ['Tuesday;4:00pm-5:00pm',
  'Thursday;2:00pm-3:00pm',
  'Friday;3:00pm-4:00pm'],
 'Ellie K.': ['Friday;11:00am-12:00pm'],
 'Camilla F.': ['Monday;12:00pm-1:00pm',
  'Wednesday;3:00pm-4:00pm',
  'Thursday;12:00pm-1:00pm'],
 'Audrey S.': ['Tuesday;6:00pm-7:00pm', 'Wednesday;6:00pm-7:00pm'],
 'Anam P.': ['Wednesday;5:00pm-6:00pm',
  'Thursday;2:00pm-3:00pm',
  'Friday;2:00pm-3:00pm'],
 'Alyssa L.': [],
 '$0.00 / 0.00hrs': []}

In [4]:
team_info: list = read_data(TEAM_DATA)
weekly_hours = get_weekly_hours(team_info)
weekly_hours

{'Abigail K.': 8,
 'Adela Z.': 3,
 'Aidan G.': 8,
 'Anthony V.': 8,
 'Anam P.': 4,
 'Anusha G.': 8,
 'Aryonna R.': 8,
 'Audrey S.': 4,
 'Benjamin E.': 6,
 'Bridget L.': 4,
 'Camilla F.': 4,
 'Chiara S.': 3,
 'Chloe L.': 4,
 'Coralee R.': 7,
 'Daisy A.': 4,
 'Dika M.': 7,
 'Dylan N.': 4,
 'Ella G.': 4,
 'Ellie K.': 4,
 'Emma J.': 8,
 'Erin B.': 3,
 'Grace K.': 4,
 'Haley B.': 8,
 'Jayden L.': 3,
 'Kaleb W.': 6,
 'Kate B.': 4,
 'Kene O.': 4,
 'Lauren L.': 4,
 'Lauren F.': 3,
 'Lucas S.': 4,
 'Lynn L.': 4,
 'Madeleine G.': 4,
 'Mary Carolyn K.': 8,
 'Miguel V.': 4,
 'Navya K.': 4,
 'Olivia X.': 3,
 'Rosey A.': 3,
 'Sarah Z.': 4,
 'Sarah C.': 3,
 'Shaina P.': 3,
 'Shefali P.': 3,
 'Sophie J.': 3,
 'Trey D.': 4,
 'Tyler S.': 4,
 'Upasana L.': 4,
 'Vincent L.': 3,
 'Vitor I.': 6,
 'Vivian D.': 4,
 'Vrinda D.': 3,
 'Wisdom O.': 4}

In [6]:
over = {}
under = {}
log = ""
for employee in homebase_schedule.keys():

    if employee in weekly_hours:
        num_scheduled = len(homebase_schedule[employee])
        num_allotted = weekly_hours[employee]
        info_str = "Scheduled: " + str(num_scheduled) + ", Given: " + str(num_allotted)
        if num_scheduled > num_allotted:
            over[employee] = info_str
        elif num_scheduled < num_allotted:
            under[employee] = num_allotted - num_scheduled
    else:
        log += "Employee " + employee + " not found.\n"
print(log)

under

Employee x not found.
Employee OPEN SHIFTS not found.
Employee $0.00 / 4.00hrs not found.
Employee $0.00 / 3.00hrs not found.
Employee $0.00 / 8.00hrs not found.
Employee $0.00 / 6.00hrs not found.
Employee $0.00 / 1.00hrs not found.
Employee $0.00 / 7.00hrs not found.
Employee $0.00 / 2.00hrs not found.
Employee Alyssa L. not found.
Employee $0.00 / 0.00hrs not found.

{'Trey D.': 2,
 'Sarah Z.': 2,
 'Olivia X.': 2,
 'Dylan N.': 1,
 'Lucas S.': 1,
 'Vivian D.': 2,
 'Kene O.': 3,
 'Upasana L.': 1,
 'Aidan G.': 5,
 'Vitor I.': 4,
 'Vincent L.': 1,
 'Miguel V.': 1,
 'Coralee R.': 4,
 'Wisdom O.': 1,
 'Navya K.': 1,
 'Dika M.': 5,
 'Lauren L.': 4,
 'Sophie J.': 1,
 'Erin B.': 2,
 'Abigail K.': 6,
 'Shaina P.': 2,
 'Anusha G.': 6,
 'Sarah C.': 2,
 'Tyler S.': 2,
 'Rosey A.': 1,
 'Lauren F.': 1,
 'Jayden L.': 1,
 'Lynn L.': 2,
 'Grace K.': 2,
 'Bridget L.': 3,
 'Aryonna R.': 5,
 'Adela Z.': 2,
 'Mary Carolyn K.': 4,
 'Haley B.': 6,
 'Emma J.': 4,
 'Anthony V.': 4,
 'Madeleine G.': 1,
 'Kaleb W.': 5,
 'Benjamin E.': 3,
 'Vrinda D.': 1,
 'Shefali P.': 2,
 'Chloe L.': 2,
 'Ella G.': 2,
 'Daisy A.': 3,
 'Kate B.': 1,
 'Ellie K.': 3,
 'Camilla F.': 1,
 'Audrey S.': 2,
 'Anam P.': 1}